
<footer class="footer"
        data-step="5"
        data-intro="Информация про разработчика"
        data-position="top"
        [ngClass]="{'text-center': isMobile, 'container-fluid': !isMobile}">
    <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a (click)="openAboutMe()" class="link">Про меня</a>
                        </li>
                        <li>
                            <a [href]="git" class="link">My GIT</a>
                        </li>
                        <li>
                            <a (click)="openAboutDialog()" class="link">О приложении</a>
                        </li>
                    </ul>
                </nav>
        </div>
</footer>
