

<footer class="footer">
    <div class="sidebar"
         data-color="purple"
         data-step="5"
         data-intro="Информация про разработчика">
    <div class="container-fluid">

                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="#">Про меня</a>
                        </li>
                        <li>
                            <a [href]="git">My GIT</a>
                        </li>
                        <li>
                            <a (click)="openAboutDialog()" class="link">О приложении</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>
</footer>
