<mat-dialog-content>
    <p mat-dialog-title>{{dialogTitle}}</p>
    <mat-form-field>
        <mat-label>Название (обязательно)</mat-label>

        <input #inputTitle matInput [(ngModel)]="tmpTitle"
               (keydown.enter)="onConfirm()">
        <button *ngIf="tmpTitle.trim().length > 0"
                mat-button matSuffix mat-icon-button aria-label="Clear"
                (click)="tmpTitle=''" class="size25">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Укажите категорию</mat-label>
        <mat-select [(ngModel)]="tmpCategory">
            <mat-option [value]="null">Без категории</mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Укажите приоритет</mat-label>
        <mat-select [(ngModel)]="tmpPriority">
            <mat-option [value]="null">Без приоритета</mat-option>
            <mat-option *ngFor="let pri of priorities" [value]="pri">{{pri.title}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input
        matInput placeholder="Укажите срок выполнения" #inputDate
        readonly="true"
        [matDatepicker]="picker"
        [(ngModel)]="tmpDate"
        (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <button *ngIf="inputDate.value.trim().length > 0"
                mat-button matSuffix mat-icon-button aria-label="Clear"
                (click)="tmpDate = null" class="size25">
                <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-md-5 col-12" [ngClass]="{'text-center': isMobile, 'text-left': !isMobile}">
        <button mat-raised-button color="primary"
                (click)="onConfirm()"
                [disabled]="inputTitle.value.trim().length==0"
                class="edit-task_button">
            Сохранить
        </button>
        <button mat-raised-button (click)="onCancel()" class="edit-task_button">
            Отмена
        </button>
    </div>
    <div class="col-md-7 col-12 text-right"
         [ngClass]="{'text-center': isMobile, 'text-right': !isMobile}">
        <button mat-button class="green edit-task_button" (click)="complete()" *ngIf="!task.completed &&  task.id" >
            Завершить задачу
        </button>
        <button mat-button class="green edit-task_button" (click)="activate()" *ngIf="task.completed">
            Активировать
        </button>
        <button *ngIf="task.id" mat-button class="red edit-task_button" (click)="delete()" >
            Удалить задачу
        </button>

    </div>
</mat-dialog-actions>
