
<ng-sidebar-container style="height: 100vh">

    <ng-sidebar [opened]="menuOpened"
                [closeOnClickOutside]="false"
                [closeOnClickBackdrop]="true"
                [showBackdrop]="showBackdrop"
                [mode]="menuMode"
                [animate]="true"
                [position]="menuPosition"
                [autoFocus]="false"
                (onClosed)="onClosedMenu()">
        <div class="sidebar"
             data-color="purple"
             data-step="1"
             data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
             data-position="right">
            <app-categories
                (selectCategory)="onSelectCategory($event)"
                (deleteCategory)="onDeleteCategory($event)"
                (updateCategory)="onUpdateCategory($event)"
                (addCategory)="onAddCategory($event)"
                (searchCategory)="onSearchCategory($event)"
                [categoryMap]="categoryMap"
                [uncompletedTotal]="uncompletedTotalTasksCount"
                [selectedCategory]="selectedCategory"
                [categories]="categories">
            </app-categories>
        </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <div class="main-panel">

            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <app-header
                        (toggleStat)="toggleStat($event)"
                        [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
                        [showStat]="showStat"
                        (toggleMenu)="toggleMenu()"
                ></app-header>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <app-stat
                            [totalTasksInCategory]="totalTasksCountInCategory"
                            [completeTasksInCategory]="completedCountInCategory"
                            [uncompleteTasksInCategory]="uncompletedCountInCategory"
                            [showStat]="showStat">
                    </app-stat>

                    <div class="row">
                        <div class="col-12">
                            <div data-step="2"
                                 data-intro="Список всех задач со статистикой"
                                 data-position="top">
                                <app-tasks (updateTask)="onUpdateTask($event)"
                                           (deleteTask)="onDeleteTask($event)"
                                           (selectCategory)="onSelectCategory($event)"
                                           (addTask)="onAddTask($event)"

                                           [selectedCategory]="selectedCategory"
                                           (filterByTitle)="onSearchTasks($event)"
                                           (filterByStatus)="onFilterTaskByStatus($event)"
                                           (filterByPriority)="onFilterTasksByPriority($event)"

                                           [tasks]="tasks"
                                           [priorities]="priorities">
                                </app-tasks>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</ng-sidebar-container>


