<div class="sidebar"  data-background-color="white" data-color="azure" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"  >
        <span class="nav-title">Категории</span>
        <span class="add-icon-area">
            <button class="add-icon" mat-icon-button (click)="openAddDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item category" (click)="showTasksByCategory(null)" [class.active]="selectedCategory">
                <a class="nav-link pointer">
                    <span class="all-category-title">Все</span>
                </a>
            </li>
            <div class="line"></div>
            <li (click)="showTasksByCategory(category)"
                *ngFor="let category of categories; let index = index"  [class.active]="category === selectedCategory"
                (click)="showTasksByCategory(category)"
                (mouseleave)="showEditIcon(null)"
                (mouseenter)="showEditIcon(index)"

                class="nav-item pointer">
                <a class="nav-link">
                    <span class="category-title">{{category.title}}</span>
                    <span class="edit-category-icon-area">
                        <mat-icon *ngIf="indexMouseMove === index" (click)="$event.stopPropagation(); openEditDialog(category)"
                         class="edit-category-icon"> edit
                        </mat-icon>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
