
<div class="text-right align-self-top">
    <button mat-icon-button  class="header-icon" (click)="onCancel()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<p class="download_text">Скачать резюме:</p>
<div class="main_info">
    <div class="buttons_download">
        <button
                color="primary"
                mat-raised-button>
            PDF
        </button>
        <button
                color="primary"
                mat-raised-button>
            WORD
        </button>
    </div>
</div>






